StudentsApp/Service References/StudentService2/StudentsServiceApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StudentsServiceApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4563/StudentsServiceApp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4563/StudentsServiceApp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4563/StudentsServiceApp.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DbEntities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStudentsServiceApp_StudetsInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:StudetsInfoList" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_StudetsInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:StudetsInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_ParentsInfosInfoList_InputMessage">
    <wsdl:part name="parameters" element="tns:ParentsInfosInfoList" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_ParentsInfosInfoList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParentsInfosInfoListResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_FindStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:FindStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_FindStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_DeleteStudentById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentById" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_DeleteStudentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_AddNewStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_AddNewStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddNewStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateParents_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParents" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateParents_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParentsResponse" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateAdditionalRelations_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdditionalRelations" />
  </wsdl:message>
  <wsdl:message name="IStudentsServiceApp_UpdateAdditionalRelations_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAdditionalRelationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IStudentsServiceApp">
    <wsdl:operation name="StudetsInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/StudetsInfoList" message="tns:IStudentsServiceApp_StudetsInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/StudetsInfoListResponse" message="tns:IStudentsServiceApp_StudetsInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParentsInfosInfoList">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/ParentsInfosInfoList" message="tns:IStudentsServiceApp_ParentsInfosInfoList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/ParentsInfosInfoListResponse" message="tns:IStudentsServiceApp_ParentsInfosInfoList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/FindStudentById" message="tns:IStudentsServiceApp_FindStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/FindStudentByIdResponse" message="tns:IStudentsServiceApp_FindStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentById">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/DeleteStudentById" message="tns:IStudentsServiceApp_DeleteStudentById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/DeleteStudentByIdResponse" message="tns:IStudentsServiceApp_DeleteStudentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddNewStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/AddNewStudent" message="tns:IStudentsServiceApp_AddNewStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/AddNewStudentResponse" message="tns:IStudentsServiceApp_AddNewStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateStudent" message="tns:IStudentsServiceApp_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateStudentResponse" message="tns:IStudentsServiceApp_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateParents">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateParents" message="tns:IStudentsServiceApp_UpdateParents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateParentsResponse" message="tns:IStudentsServiceApp_UpdateParents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAdditionalRelations">
      <wsdl:input wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateAdditionalRelations" message="tns:IStudentsServiceApp_UpdateAdditionalRelations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStudentsServiceApp/UpdateAdditionalRelationsResponse" message="tns:IStudentsServiceApp_UpdateAdditionalRelations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStudentsServiceApp" type="tns:IStudentsServiceApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StudetsInfoList">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/StudetsInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParentsInfosInfoList">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/ParentsInfosInfoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/FindStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudentById">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/DeleteStudentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/AddNewStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateParents">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/UpdateParents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAdditionalRelations">
      <soap:operation soapAction="http://tempuri.org/IStudentsServiceApp/UpdateAdditionalRelations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StudentsServiceApp">
    <wsdl:port name="BasicHttpBinding_IStudentsServiceApp" binding="tns:BasicHttpBinding_IStudentsServiceApp">
      <soap:address location="http://localhost:4563/StudentsServiceApp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>